@charset "UTF-8";
.mt_150{
  margin-top: 150px;
}
.mt_150 h4{
  text-align: center;
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
  left:0;
  transition: all 1s;
}
.lt_aside.now{
  left: -180px;
}

.lt_aside .brand a{
  display: block;
  width: 180px;
  height: 50px;
  background-color: #337ab7;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
}
.lt_aside .user{
  height: 150px;
}
.lt_aside .user img{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px auto 10px;
}
.lt_aside .user p{
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.lt_aside .nav a{
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #ccc;
  padding-left: 30px;
  border: 3px solid transparent;
}
.lt_aside .nav a.now{
  background-color: #000000;
  border-left-color: #2aabd2;
  color: #ffffff;
}
.lt_aside .child a{
  padding-left:50px;
}
.lt_main{
  margin-left: 180px;
  transition: all 1s;
}
.lt_main.now{
  margin-left: 0;
}
.lt_main .lt_header{
  background-color: #3c8dbc;
  height: 50px;
  padding: 0 15px;
  margin-bottom:20px;
}
.lt_main .lt_header a{
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #ffffff;
}
